td i{
    font-size: 17px;
    background-color: #17a2bb;
    padding: 7px 7px;
    border-radius: 5px ;
    color: black;
}
td .i1{
    font-size: 17px;
    background-color: #dc3545;
    padding: 7px 7px;
    border-radius: 5px ;
    color: black;
}
td button{
    border: none;
    border-radius: 5px;
    background-color: #dc3545;
}

td .active{
    width: 75px;
    margin: auto;
    height: 22px;
    font-size: 14px;
    border-radius: 5px;
    background-color: #28a745;
    color: cornsilk;
}

td .unactive{
    width: 105px;
    margin: auto;
    height: 22px;
    font-size: 14px;
    border-radius: 5px;
    background-color: #dc3545;
    color: cornsilk;
}